name: Go-test
on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - name: Setup Go
        uses: actions/setup-go@v4
        with:
          go-version: '1.25.1'
      - name: Build API
        run: make build-api
      - name: Build Telegram
        run: make build-telegram
      - name: Test with the Go CLI
        run: go test ./...
